.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 320px;
	position: relative;
	background-color: var(--clr-bg-secondary);
}

.container::after {
	content: '';
	position: absolute;
	bottom: 0px;
	right: 0px;
	border-bottom: 24px solid var(--clr-bg-primary);
	border-left: 24px solid transparent;
}

.characterSection {
	width: var(--inner-container-width);
	padding: 0 48px;
	height: 100%;
	display: flex;
}

@media (max-width: 834px) {
	.container {
		height: 278px;
	}

	.characterSection {
		padding: 0 48px 0 0;
	}
}

@media (max-width: 660px) {
	.container {
		height: auto;
	}

	.characterSection {
		padding: 0;
		flex-direction: column;
	}
}
