.card {
	width: 188px;
}

.content {
	height: 61px;
	border-top: 5px solid var(--clr-marvel-red);
	padding: 16px;
	position: relative;
	background-size: 200% 200%;
	background-image: linear-gradient(
		to bottom,
		var(--clr-marvel-red) 50%,
		var(--clr-bg-secondary) 0
	);
	background-position: bottom;
	transition: background-position 0.5s;
}

.card:hover .content {
	background-position: top;
}

.content::after {
	content: '';
	position: absolute;
	bottom: 0px;
	right: 0px;
	border-bottom: 13px solid var(--clr-bg-primary);
	border-left: 13px solid transparent;
}

.nameWrapper {
	display: flex;
	justify-content: space-between;
	fill: var(--clr-marvel-red);
}

.name {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	line-height: 16.41px;
	color: var(--clr-secondary);
	padding-right: 4px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.heartWrapper {
	cursor: pointer;
	transition: 0.7s;
	fill: var(--clr-marvel-red);
}

.card:hover .heartWrapper {
	fill: var(--clr-secondary);
}
