.info {
	padding: 96px 0 0 48px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.nameWrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.name {
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 700;
	line-height: 46.88px;
	color: var(--clr-secondary);
}

.heartWrapper {
	cursor: pointer;
	border: none;
	background: none;
}

.description {
	padding-top: 24px;
	font-size: 16px;
	font-weight: 400;
	line-height: 18.75px;
	color: var(--clr-secondary);
}

@media (max-width: 834px) {
	.info {
		padding: 80px 0 0 48px;
	}

	.name {
		font-size: 32px;
		line-height: 37.5px;
	}
}

@media (max-width: 660px) {
	.info {
		padding: 24px 16px 48px 16px;
	}
}
