.searchBar {
	padding: 12px 0;
	position: relative;
	text-transform: uppercase;
}

.inputWrapper {
	display: flex;
	gap: 12px;
	position: relative;
	border: none;
	border-bottom: 1px solid var(--clr-primary);
	padding-bottom: 8px;
	align-items: center;
}

.inputWrapper img {
	display: block;
	height: 12px;
	width: 12px;
}

.searchInput {
	font-family: 'Roboto Condensed';
	text-transform: uppercase;
	font-size: 16px;
	line-height: 18.75px;
	border: none;
	width: 100%;
	color: var(--clr-primary);
	position: relative;
}

.searchInput:focus {
	outline-offset: 4px;
}

.searchInput::placeholder {
	color: var(--clr-tertiary);
	font-family: 'Roboto Condensed';
	text-transform: uppercase;
}

.results {
	padding-top: 12px;
}
