.contentWrapper {
	padding: 48px;
}

.contentWrapper > h1 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 32px;
	line-height: 37.5px;
	padding-bottom: 24px;
}

@media (max-width: 834px) {
	.contentWrapper > h1 {
		font-size: 24px;
		line-height: 28.13px;
	}
}

@media (max-width: 660px) {
	.contentWrapper {
		padding: 24px 16px;
	}
}
