@import '../../globals/global.module.css';

.header {
	composes: text-1 from global;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 48px;
	background-color: var(--clr-bg-secondary);
	color: var(--clr-txt-secondary);
}

.logo {
	height: 44px;
}

.favCounter {
	box-sizing: content-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 8px;
	padding: 8px;
	height: 30px;
}
